<!-- REFERENCE: https://material.angular.dev/components/toolbar/overview -->
<mat-toolbar>
	<!-- REFERENCE: https://material.angular.dev/components/button/overview -->
	<button id="landingPageButton" type="button" matButton="text">Јутјубић</button>

	<span></span>

	<div id="usernameDiv" *ngIf="username">
		<p><b>{{ username }}</b></p>
	</div>
	<!-- REFERENCE: https://material.angular.dev/components/button/overview -->
	<button id="loggingOnPageButton" type="button" matButton="elevated" *ngIf="!username">Пријавите се</button>
	<button id="loggingOffButton" type="button" matButton="elevated" *ngIf="username" (click)="logOff()">Одјавите се</button>
</mat-toolbar>
