<!-- REFERENCE: https://material.angular.dev/components/toolbar/overview -->
<mat-toolbar>
	<!-- REFERENCE: https://material.angular.dev/components/button/overview -->
	<!-- REFERENCE: https://angular.love/angular-router-everything-you-need-to-know-about -->
	<button id="landingPageButton" type="button" matButton="text" routerLink="/">Јутјубић</button>

	<span></span>

	<!-- REFERENCE: https://dev.to/vetriselvan_11/angular-20-control-flow-part-1-say-goodbye-to-ngif-ngfor-and-ngswitch-42d8 -->
	@if (username) {
		<div id="usernameDiv">
			<p><b>{{ username }}</b></p>
		</div>
	}
	@if (!username) {
		<!-- REFERENCE: https://angular.love/angular-router-everything-you-need-to-know-about -->
		<button id="loggingOnPageButton" type="button" matButton="elevated" routerLink="/log-on">Пријавите се</button>
	}
	@if (username) {
		<button id="loggingOffButton" type="button" matButton="elevated" (click)="logOff()">Одјавите се</button>
	}
</mat-toolbar>
